<div class="ui divider hidden" ></div>
<div class="ui grid four column" style="padding-left: 10px">
  <div class="column" *ngFor="let producto of productos">
    <div class="ui card">
      <div class="image">
        <img src="{{producto._imgThumbnail}}">
      </div>
      <div class="content">
        <a class="header">
          {{producto._nombre}}
        </a>
        <div class="description">
          <div class="ui mini horizontal statistic">
            <div class="label"><i class="dollar icon"></i> </div>
            <div class="value">{{producto._precio}}</div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <a (click)="comprarProducto(producto)" ><i class="circular shop icon"></i>Comprar </a>
      </div>
    </div>
  </div>
</div>
